* {
    /*Espaçamento*/
    margin: 0px;
    padding: 0px;
    /*Fonte*/
    font-family: "Cabin", sans-serif;
    /*Detalhes*/
    overflow: hidden;
}

.material-symbols-outlined {
    font-size: 35px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.home-container {
    /*Tamanho*/
    width: 100vw;
    height: 100vh;
    /*Organização de elementos filhos*/
    display: flex;
}

.menu-lateral {
    /*Tamanho*/
    width: 5%;
    height: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*Borda*/
    border-right: 2px solid #000;
}

.sessao-botoes-superiores {
    /*Tamanho*/
    width: 100%;
    height: 60%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sessao-botao-inferior {
    /*Tamanho*/
    width: 100%;
    height: 10%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
}

.botao-menu {
    /*Tamanho*/
    width: 100%;
    height: 50px;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Borda*/
    border: none;
    /*Cor*/
    background-color: transparent;
    /*Detalhes*/
    cursor: pointer;
}

.botao-menu:hover,
.icone-casa{
    /*Cor*/
    color: #1351F1;
}

.conteudo-home {
    /*Tamanho*/
    width: 95%;
    height: 100%;
}

.cabecalho {
    /*Tamanho*/
    width: 100%;
    height: 15%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-saudacao {
    /*Tamanho*/
    width: 98%;
    height: 80%;
    /* padding-left: 10px; */
    /*Organização de elementos filhos*/
    display: flex;
    align-items: center;
    /*Borda*/
    border: 2px solid #1351F1;
    border-radius: 20px;
    /*Cor*/
    color: #1351F1;
}

.saudacao{
    /*Espaçamento*/
    margin-left: 5px;
}

.conteudo {
    /*Tamanho*/
    width: 100%;
    height: 85%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
}

.sessao-blog {
    /*Tamanho*/
    width: 70%;
    height: 97%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*Borda*/
    border: 2px solid #1351F1;
    border-radius: 20px;
}

.caixa-mensagem {
    /*Tamanho*/
    width: 100%;
    height: 80%;
    /*Organização de elementos filhos*/
    /*Borda*/
    border-top: 2px solid #1351F1;
    border-bottom: 2px solid #1351F1;
    /*Detalhes*/
    overflow-y: scroll;
}

.mensagem,
.mensagem-digitada{
    /*Espaçamento*/
    padding: 5px;
}

.mensagem-digitada{
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    align-items: end;
}

.conteudo-msg{
    /*Espaçamento*/
    margin-left: 10px;
}

.conteudo-msg-digitada{
    /*Espaçamento*/
    margin-right: 10px;
}

.caixa-input {
    /*Tamanho*/
    width: 100%;
    height: 7%;
    /*Organização de elemento filhos*/
    display: flex;
    justify-content: space-evenly;
}

.input {
    /*Tamanho*/
    width: 90%;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 5px;
    /*Cor*/
    background-color: #ECECEC;
}

.botao-enviar-msg {
    /*Borda*/
    border: none;
    /*Cor*/
    background-color: transparent;
    /*Detalhe*/
    cursor: pointer;
}

.botao-enviar-msg:hover{
    /*Cor*/
    color: #1351F1;
}

.sessao-perfil {
    /*Tamanho*/
    width: 26%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*Borda*/
    border: 2px solid #1351F1;
    border-radius: 20px;
}

.caixa-informacoes{
    /*Tamanho*/
    width: 90%;
    height: 70%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botao-alterar{
    /*Tamanho*/
    width: 90%;
    height: 10%;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 10px;
    /*cor*/
    background-color: #1351F1;
    color: #FFF;
    /*Fonte*/
    font-size: 20px;
    /*Detalhes*/
    cursor: pointer;
}